* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --base-bg: #ffff;
  --base-width-container: 1200px;
  --base-bg-button: #4308e7;
  --base-color-button: #fff;
  --base-font-size: 3rem;
  --first-shadow-color: rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--base-bg);
  padding-inline: 1rem;
  flex-shrink: 1;
}
.logo {
  flex-shrink: 0;
  width: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--base-bg);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}
.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  color: black;
}

.nav-links li a:hover {
  color: var(--base-bg-button);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.track-btn,
.login-btn {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  transition: background 0.3s;
}

.track-btn {
  background-color: transparent;
  color: black;
}

.login-btn {
  background-color: var(--base-bg-button);
  color: var(--base-color-button);
  font-weight: bold;
}

.track-btn:hover {
  background-color: #e0e0e0;
  color: #333;
}

.login-btn:hover {
  background-color: #a4aeaf;
}
.hero-section {
  max-width: var(--base-width-container);
  margin: 0 auto;
  padding: 4rem 2rem;
  border-top: 2px solid #eee;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.hero-title {
  flex: 2;
  max-width: 580px;
}

.hero-title h1 {
  font-size: var(--base-font-size);
  font-weight: bold;
  line-height: 1.2;
}

.hero-description {
  flex: 1;
  font-size: 1rem;
  color: #333;
  max-width: 300px;
  align-items: end;
}

.hero-image {
  position: relative;
  margin-top: 3rem;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}
.project-section {
  background-color: var(--base-bg);
  max-width: var(--base-width-container);
  margin: auto;
  padding: 1rem 2rem;
}
.project-container {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  padding-left: 1rem;
  height: 250px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
  gap: 20px;
}
.icon {
  font-size: 48px !important;
}

/* map */

.industry-section {
  background-color: var(--base-bg-button);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}

.industry-header {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cfd8ff;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: var(--base-width-container);
  padding: 2rem;
  margin-left: 8rem;
}
.top-industry {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: 10rem;
}

.industry-map {
  margin: 3rem 0;
  background: var(--base-bg-button);
  margin-left: 10rem;
}

.industry-map img {
  max-width: 100%;
  height: auto;
}

.industry-stats {
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
  max-width: var(--base-width-container);
  gap: 4rem;
  margin-left: 7rem;
}

.stat-box h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.stat-box p {
  font-size: 1rem;
  color: #cfd8ff;
  max-width: 300px;
}
/* Testimonial Section */
.testimonial-box {
  display: flex;
  background-color: var(--base-bg);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
  flex-wrap: wrap;
  padding-top: 4rem;
  max-width: var(--base-width-container);
  margin: auto;
  gap: 2rem;
}
.testimonial-image {
  width: 100%;
  max-width: 200px;
  object-fit: cover;
}
.testimonial-text {
  flex: 1;
  padding: 20px;
}
.author {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
}
.brand-logo {
  width: 100px;
  margin-top: 10px;
  filter: grayscale(100%);
}

/* Logos */
.brand-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  border-top: 2px solid #eee;
}
.brand-logos > .brand-logo > img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}
.brand-logos > .brand-logo:hover > img {
  filter: grayscale(100%);
  transition: filter 0.3s;
}
